* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body, html {
   height: 100%;
   margin: 0;
   font-family: Arial, sans-serif;
}
  
.container {
   display: grid;
   grid-template-columns: 25% 75%;
   height: 100%;
}
  
.Contacts {
   width: 100%;
   background-color: #daf8e3;
   padding: 10px;
}
  
.contact {
   background-color: #f2f2f2;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
}
  
.chat-room {
   background-color: #bdf2d5;
   display: grid;
   grid-template-rows: 90% auto;
   padding: 10px;
}
  
.chat-messages {
   height: 90%;
   overflow-y: auto;
}
  
.chat-input {
   display: flex;
   justify-content: space-between;
}
  
.chat-input input {
   width: 85%;
   padding: 10px;
   margin-right: 10px;
   border: none;
   border-radius: 10px;
}
  
.chat-input button {
   width: 10%;
   background-color: #4CAF50;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 10px;
}
  
.message {
   display: flex;
   justify-content: flex-end;
   margin-bottom: 10px;
}
  
.message-text {
   background-color: #80ed99;
   padding: 10px;
   border-radius: 10px;
}

.message-avatar {
   width: 50px;
   height: 50px;
   border-radius: 50%; /* Makes the image circular */
}

.loginPage {
  width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://img-blog.csdnimg.cn/060908e5cbc843318cac7bf07623f298.png?x-oss-process=image/watermark,type_d3F5LXplbmhlaQ,shadow_50,text_Q1NETiBA5piv6JC96JC95ZGi,size_20,color_FFFFFF,t_70,g_se,x_16") fixed no-repeat;
    background-size: cover;
}

.loginForm label {
    font-size: 18px;
    font-weight: 400;
    color: #3d5245;
}
    
.loginForm input,
.loginForm button,
.loginForm select {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 0 14px;
    color: #3d5245;
}
    
     